<div class="slider">
    <div class="slider-track">
       
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113104610.png" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113105014.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113105147.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113105514.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113105620.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113110909.png" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113111005.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113111051.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113111158.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/20170113111956.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/752921761.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/Adidas-Impossible-is-Nothing1-1920x1200-wide-wallpapers.net.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/alienware-logo-1920x1200-wide-wallpapers.net.jpg" alt="img1">
        </div>
        <div class="slide">
            <img src="../../assets/hefshineImg/amazing_dubai_marina-2560x1600 - Copy.jpg" alt="img1">
        </div>
    </div>
</div>