<div class="header">
  <div class="navbar">
    <mat-icon class="navbar" aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="">home
    </mat-icon>

  </div>

  <div class="navbar"><a routerLink="placedstudents">Placed Students</a></div>
  <div class="navbar"><a>New Batches</a></div>
  <div class="navbar"><a>Admission</a></div>
  <div class="navbar"><a>Course Details</a></div>
  <div class="navbar"><a routerLink="feestructure">Fee Structure</a></div>
  <div class="navbar"><a>Contact Us</a></div>
  <div class="navbar"><a routerLink="gallary">Gallary</a></div>

</div>