<div class="feeContainer">
    <div class="feeStructure">
        <div class="heading">
            <div class="companyname">
                <h1 style="color: black;">HEF</h1>
                <h1 style="color: rgb(6, 6, 139);">SHINE</h1>
            </div>
        </div>

        <div class="feetable">
            <div class="heading2">Fee Structure</div>
            <div class=" fee registrationFee">
                <div class="fee1 regfee">Registration Fee</div>
                <marquee class="feeNote" behavior="scroll" direction="left">Not refundable.</marquee>

                <div class="fee1 regAmount">5000.0 INR</div>
            </div>
          
            <div class="fee TuitionFee">
                <div class="fee1 tutFee">Tution Fee</div>
                <marquee class="feeNote" behavior="scroll" direction="left">To be paid after placement and Rs 20,000 discount, if you take placement after completion of course.</marquee>

                <div class="fee1 tutAmount">56000.0 INR</div>
            </div>
            <div class="fee placementeFee">
                <div class="fee1 plcefee">Placement Fee</div>
                <marquee class="feeNote" behavior="scroll" direction="left">To be paid after placement</marquee>

                <div class="fee1 plcAmount">10000.0 INR</div>
            </div>
        </div>
    </div>

</div>