<div class="course-main-container">
    <div class="sub-container">
        <div class="technologies">
            <div class="fullstack ">
                <div class="heading frontendHeading">FrontEnd Technologies</div>
                <div class="frontend group">
                    <div class="angularframe"><img src="../../assets/TechImg/Angular logo.png" alt="">Angular</div>
                    <div class="htmlang"><img src="../../assets/TechImg/htmcss_logo.png" alt="">HTML and CSS</div>
                    <div class="typeScript"><img src="../../assets/TechImg/Ts_logo.svg" alt="">Typescript</div>
                   
                </div>
            </div>
            <div class="fullstack">
                <div class="heading databaseHeading">Database Technologies</div>
                <div class="database group">
                    <div class="mysql"><img src="../../assets/TechImg/Mysql_logo.png" alt="">MySQL</div>
                    <div class="sql"><img src="../../assets/TechImg/sql_logo.webp" alt="">SQL</div>
                    <div class="hibernate"><img src="../../assets/TechImg/jdbc_logo.png" alt="">JDBC</div>
                    <div class="JPA"><img src="../../assets/TechImg/jpa_logo.jpg" alt="">JPA & Hibernate</div>
                </div>
            </div>
            <div class="fullstack">
                <div class="heading serverHeading">Server Side</div>
                <div class="serverSide group">
                    <div class="springboot"><img src="../../assets/TechImg/spring-logo.png" alt="">Spring Boot</div>
                    <div class="restAPI"> restAPI</div>
                    <div class="coreJava"><img src="../../assets/TechImg/java-logo.png" alt=""> coreJava</div>
                </div>
            </div>
            <div class="fullstack">
                <div class="heading ideHeading">IDE's</div>
                <div class="ide group">
                    <div class="eclipse"><img src="../../assets/TechImg/escliplse_logo.png" alt="">Eclipse</div>
                    <div class="intelij"><img src="../../assets/TechImg/Ig_logo.jpg" alt="">inteliij</div>
                    <div class="sts"><img src="../../assets/TechImg/sts.png" alt="">STS</div>
                </div>
            </div>

        </div>
    </div>

</div>